# VsCode
.vscode/
bootstrap*/

# Logs
logs
*.log

# dotenv environment variables file
.env
.env.test

# Gatsby files
.cache/

# Exercices
exercices/

# Database credencials
db.ini

#uploads files
uploads/avatars/